<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <ul class="nav nav-tabs nav-bottom-line justify-content-center justify-content-md-start">
      <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#tab-1"> Nav 1 </a> </li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-2"> Nav 2 </a> </li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-3"> Nav 3 </a> </li>
      <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-4"> Nav 4 </a> </li>
    </ul>
  </div>
</nav>
