.side-menu-bar-mobile dropdown-item a {
  padding: 0.6 rem 0.4 rem !important;
  font-size: 1.4 rem !important;
}

/* The navigation bar */
.only-bottom-navbar {
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}

/* Navbar secondary horizontal menu */
.top-minus-27 {
  top: -27px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-110 {
  margin-top: 110px;
}
.mt-120 {
  margin-top: 120px;
}
.mt-130 {
  margin-top: 130px;
}

/* Add product from dashboard page icon */

.add-product-icon.bi-plus-circle-fill:hover {
color: #0f6fec !important;
}

.add-product-icon.bi-plus-circle-fill:hover {
fill: #fff
}

/* Public profile user reviews no hover no chnage color */
.list-group-item-action.no-hover-effects:hover, 
.list-group-item-action.no-hover-effects:focus {
  z-index: 1;
  color: #676a79;
  text-decoration: none;
  background-color: #fff;
}